@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Dashboard"];
}

@model DashboardViewModel

@if (Model != null && Model.IsSuccess) 
{
    <div class="row">
        @await Html.PartialAsync("_BlockChainInfo", Model.BlockChainInfo)
        @await Html.PartialAsync("_NetworkInfo", Model.NetworkInfo)                
    </div>
}