@{
    ViewData["Title"] = "Dashboard";
}

@model DashboardViewModel

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@if (Model != null && Model.IsSuccess) 
{
    <div class="row">
        @await Html.PartialAsync("_NetworkInfo", Model.NetworkInfo)
        @await Html.PartialAsync("_BlockChainInfo", Model.BlockChainInfo)
    </div>
}