@{
    ViewData["Title"] = "Dashboard";
}

@model DashboardViewModel

@if (Model != null && Model.IsSuccess) 
{
    <div class="row">
        @await Html.PartialAsync("_NetworkInfo", Model.NetworkInfo)
        @await Html.PartialAsync("_BlockChainInfo", Model.BlockChainInfo)
    </div>
}